<div id="wrap" class="container-fluid" style="padding-left: 285px;">
    <div>
        <h3>Adverisement Management</h3>

        {{!-- Top Area --}}
        <div class="row">
            <div class="col-md-6">
                <h3>Top Of the Home page</h3>
                <hr>
                <form action="" enctype="multipart/form-data">
                    <label for="topimage1" class="btn btn-info">Image 1</label>
                    <img src="/uploads/6150bcb993c638279c46e92e__1.jpg" alt="" style="width: 100px; height:auto;display: inherit;" id="imgview1">
                    <input type="file" id="topimage1" hidden>

                    <label for="topimage2" class="btn btn-info">Image 2</label>
                    <input type="file" id="topimage2" hidden>

                    <label for="topimage3" class="btn btn-info">Image 3</label>
                    <input type="file" id="topimage3" hidden>
                </form>
            </div>
        </div>
        {{!-- Top area ends --}}
        <hr>
        {{!-- Middle area --}}
        <div class="row">
            <div class="col-md-6">
                <h3>Middle Of the Home page</h3>
                <hr>
                <form action="" enctype="multipart/form-data">
                    <label for="middleimage1" class="btn btn-warning">Image 1</label>
                    <input type="file" id="middleimage1" hidden>

                    <label for="middleimage2" class="btn btn-warning">Image 2</label>
                    <input type="file" id="middleimage2" hidden>

                    <label for="middleimage3" class="btn btn-warning">Image 3</label>
                    <input type="file" id="middleimage3" hidden>
                </form>
            </div>
        </div>
        {{!-- Middle area ends --}}
        <hr>
        {{!-- Bottom area --}}
        <div class="row">
            <div class="col-md-6">
                <h3>Bottom Of the Home page</h3>
                <hr>
                <form action="" enctype="multipart/form-data">
                    <label for="bottomimage1" class="btn btn-primary">Image 1</label>
                    <input type="file" id="bottomimage1" hidden>

                    <label for="bottomimage2" class="btn btn-primary">Image 2</label>
                    <input type="file" id="bottomimage2" hidden>

                    <label for="bottomimage3" class="btn btn-primary">Image 3</label>
                    <input type="file" id="bottomimage3" hidden>
                </form>
            </div>
        </div>
        {{!-- Bottom area ends --}}

    </div>
</div>