 <footer id="footer" class="footer footer-2">
        <div class="footer-info">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel-info">
                  <div class="info-icon">
                    <i class="icon icon-Truck"></i>
                  </div>
                  <div class="info-content">
                    <h4>Fast Shipping</h4>
                    <p>
                      Experience our fast shipping world wide.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel-info">
                  <div class="info-icon">
                    <i class="icon icon-Dollars"></i>
                  </div>
                  <div class="info-content">
                    <h4>Fair Prices</h4>
                    <p>
                     Our products are delivered in a fair price that all can afford.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel-info">
                  <div class="info-icon">
                    <i class="icon icon-Shield"></i>
                  </div>
                  <div class="info-content">
                    <h4>Secure Shopping</h4>
                    <p>
                     Don’t worry your product is extremely safe within our hands.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel-info">
                  <div class="info-icon">
                    <i class="icon icon-Headset"></i>
                  </div>
                  <div class="info-content">
                    <h4>Customer Support</h4>
                    <p>
                    If you got any complaints or queries don’t forget to ring us.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-widget">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 footer-widget-about">
                <div class="footer-widget-title">
                  <h5>About Us</h5>
                </div>
                <div class="footer-widget-content">
                  <p>
                    Rideofy was a sketched out destination of the journey started by 4 motorcycle enthusiasts. One can feel the energy of our power pack champ Mr. Mahesh VM(National Champion in MRF Supercross 2017-18, 2019-20) in every breath of Rideofy
                  </p>
                  <div class="footer-social">
                    <a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="share-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-2 footer-widget-link">
                <div class="footer-widget-title">
                  <h5>My Account</h5>
                </div>
                <div class="footer-widget-content">
                  <ul class="list-unstyled">
                    <li>
                        <a href="/userprofile">My Account</a>
                    </li>
                    <li>
                      <a href="#">Order History</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-2 footer-widget-link">
                <div class="footer-widget-title">
                  <h5>Information</h5>
                </div>
                <div class="footer-widget-content">
                  <ul class="list-unstyled">
                    <li>
                      <a href="#">About Us</a>
                    </li>
                    <li>
                      <a href="#">Terms & Conditions</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-2 footer-widget-link">
                <div class="footer-widget-title">
                  <h5>Customer Service</h5>
                </div>
                <div class="footer-widget-content">
                  <ul class="list-unstyled">
                    <li>
                      <a href="#">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div>

        <div class="footer-bar">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="powered">
                  <p>RideoFy &copy; All Rights Reserved.<a href="#">Hafiz Muhammad</a></p>

                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="payment-methods text-right">
                  <ul class="list-inline mb-0">
                    <li>
                      <img src="assets/images/footer/visa.png" alt="payment" />
                    </li>
                    <li>
                      <img src="assets/images/footer/mastercard.png" alt="payment"/>
                    </li>
                    <li>
                      <img src="assets/images/footer/paypal.png" alt="payment"/>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  