{{!-- Evry review --}}
<h3 class="text-center">Review</h3>
{{#each review.proReview}}

{{#showAllReviews }}
{{/showAllReviews}}

<li class="review-comment">

    <h6>{{this.username}}</h6>

    <p class="review-date">{{this.reviewDate}}</p>


    <div class="product-rating">
        {{#printStar this.rating}}
        {{/printStar}}
    </div>

    <div class="product-comment">
        <p style="color: black;">{{this.review}}</p>
    </div>
</li>
{{/eq}}
{{/each}}
</ul>
{{!-- every review ends --}}