        <section style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-6" style="margin-bottom: 10px ;" >
                
                    <div class="billing-address" >
                        <div class="container" style="margin-left: 30px;">
                        <h4 style="margin-top: 10px;font-weight: 300;">Saved Addresses</h4>
                            <dl>
                                <dt>1.Coffee</dt>
                                    <dd>Black hot drink</dd>
                                    <dt><input type="checkbox" id="useaddress" placeholder="Use"><span style="color: #007eff;">    Use Address</span></dt><br>
                                <dt>2.Milk</dt>
                                    <dd>White cold drink</dd>
                                <dt><input type="checkbox" id="useaddress" placeholder="Use"><span style="color: #007eff;">    Use Address</span></dt><br>
                            </dl>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="billing-address">
                        <h4 class="checkout-box-title">Billing Address</h4>
                        <div class="checkout-billing-adress-box">

                            <div class="billing-address-input clearfix">
                                <label>FIRST NAME *</label>
                                <input type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>LAST NAME *</label>
                                <input type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>COMPANY NAME *</label>
                                <input type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>ADDRESS *</label>
                                <input type="text" placeholder="Street Address">
                                <input type="text" placeholder="Fashin, suite, unite ect (optinal)">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>TOWN / CITY *</label>
                                <input type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>COUNTRY / STATES</label>
                                <input type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>POSTCODE / ZIP *</label>
                                <input type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>EMAIL ADDRESS *</label>
                                <input type="text">
                            </div>
                            <div class="billing-address-input clearfix">
                                <label>PHONE *</label>
                                <input type="text">
                            </div>
                            <div class="cbab-create-account">
                                <input type="checkbox">
                                <label>Save address</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="promotional-code-box">
                        <h4 class="checkout-box-title">Coupon Code</h4>
                        <div class="pcb-content">
                            <p>Enter your coupon code if you have one</p>
                            <div class="pcb-cuppon-input clearfix">
                                <input type="text" placeholder="Coupon code">
                                <button class="checkout-page-button hvr-bs">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="your-order-box">
                        <h4 class="checkout-box-title">Your Order</h4>
                        <div class="yob-content">
                            <p class="yobc-title">PRODUCT <span>TOTAL</span></p>
                            <ul>
                                {{#each products}}
                                     <li class="clearfix"><strong>{{this.product.productname}}</strong>  x {{this.quantity}} <span style="color: black;">₹ {{this.price}}</span></li>
                                {{/each}}
                               
                               
                                <li class="clearfix">Cart Subtotal <span style="font-weight: bolder;font-size: 20px;">₹  {{totalValue}}</span></li>
                                <li class="clearfix">Shipping and Handling <span>Free Shipping</span></li>
                                <li class="order-total clearfix">Order Total <span>$660.00</span></li>
                            </ul>
                            <div class="create-account-checkout-method">
                                <div class="place-order">
                                    <button class="checkout-page-button hvr-bs">Place order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<style>
    
dt{
    color: black;
}

.checkout-top {
    margin-bottom: 23px;
}

.checkout-top p,
.checkout-top p a {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.checkout-top p a {
    color: #d22a28;
}

.checkout-box-title {
    border-bottom: 1px solid #ecedee;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 16px 0;
    text-align: center;
}

.billing-address {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ecedee;
}

.checkout-billing-adress-box {
    padding: 21px 35px 50px 25px;
}

.billing-address-input {
    margin-bottom: 20px;
}

.billing-address-input label {
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
}

.billing-address-input select,
.billing-address-input input[type="text"] {
    border: 0 none;
    border-bottom: 1px solid #e5e5e5;
    color: #000000;
    float: right;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 0 10px;
    width: 55%;
}

.billing-address-input select option {}

.cbab-create-account {
    margin-bottom: 19px;
}

.cbab-create-account input[type="checkbox"] {}

.cbab-create-account label {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16px;
    margin: 0;
}

.cbab-create-account p {
    color: #000000;
    line-height: 24px;
    margin: 12px 0 0;
}

.cbab-account-password {
    margin: 0 0 31px;
}

.cbab-account-password label {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16px;
    margin: 0;
}

.cbab-account-password input[type="password"] {
    border: 0 none;
    border-bottom: 1px solid #e5e5e5;
    color: #000000;
    float: right;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 0 10px;
    width: 55%;
}

.cbab-order-notes {}

.cbab-order-notes p {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16px;
    margin: 0 0 10px;
}

.cbab-order-notes input[type="text"] {
    border: 0 none;
    border-bottom: 1px solid #e5e5e5;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 0 10px;
    width: 100%;
}

.promotional-code-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ecedee;
    margin-bottom: 30px;
}

.pcb-content {
    padding: 0 35px 25px;
}

.pcb-content p {
    color: #000000;
    margin-bottom: 25px;
}

.pcb-cuppon-input {}

.pcb-cuppon-input input[type="text"] {
    border: 0 none;
    border-bottom: 1px solid #e5e5e5;
    color: #000000;
    float: left;
    font-weight: 300;
    height: 40px;
    letter-spacing: 0;
    text-align: center;
    width: 46%;
}

.pcb-cuppon-input button {
    float: right;
    width: 50%;
}

.checkout-page-button {
    background: #d22a28 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 5px 30px;
    text-transform: uppercase;
}

.your-order-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ecedee;
}

.yob-content {
    padding: 25px 25px 70px;
}

.yobc-title,
.yobc-title span {
    color: #232530;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 33px;
}

.yobc-title span {
    float: right;
}

.yob-content ul {
    list-style: outside none none;
    padding: 0;
}

.yob-content ul li {
    border-bottom: 1px solid #e5e5e5;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0 0 27px;
    padding: 0 0 1px;
}

.yob-content ul li.order-total {
    text-transform: uppercase;
}

.yob-content ul li span {
    color: #d22a28;
    float: right;
}

.create-account-checkout-method {}

.select-payment-method {
    margin-bottom: 3px;
}

.select-payment-method input[type="checkbox"] {}

.select-payment-method label {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    margin-left: 10px;
}

.create-account-text {
    border: 1px solid #e5e5e5;
    margin: 0 0 20px;
    padding: 21px 20px;
}

.create-account-text p {
    color: #000000;
    font-weight: 300;
    line-height: 24px;
}

.place-order {
    margin: 58px 0 0;
    text-align: center;
}

.place-order button {}

</style>